{%extends "base.html"%} <!--Aqui[] página filha de base.html-->



{%block title %} Excluir Produtos {%endblock%}
    

{% block content %}
    <h1>Excluir Produtos</h1>

    <form action="/produto" method="POST">
        <div class="form-control">
            <label for="nome">Nome</label> <!--Associa um label a um input por "nome"-->
            <input type="text" id="nome" name="nome"> <!--o name serve para pegar o elemento pelo servidor-->
        </div>
        
        <div class="form-control">
            <label for="descricao">Descrição</label> <!--Associa um label a um input por "nome"-->
            <textarea type="text" id="descricao" name="descricao"></textarea> <!--o name serve para pegar o elemento pelo servidor-->
        </div>
        <button type="submit">Cadatrar</button>                
    </form>
    
{%endblock%}
